body
{
    margin:0;
    font-family: var(--primary-font);
    background-color: white;
}
:root
{
    --primary-font:'Montserrat', sans-serif;
    --secondary-font:'Redressed';
}
.navbar
{
    padding:1rem;
    border-bottom-left-radius: 20px;
    background-color: black;
    text-align: center;
}
.navbar h1
{
    color:whitesmoke;
    font-family: var(--secondary-font);
    position:relative;
    font-size: 2rem;
}
.heading
{
    color:white;
  
    
}
div.header
{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
div.header img
{
    margin:auto;
    max-width: 350px;
}
div.header span
{
    font-size: 1.25rem;
    padding-top:1rem;
}
.main-content
{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin-top:1rem;
}
textarea
{
    max-width:80%;
    display: block;
    min-height: 20vh;
    padding:1rem;
    margin-top:2rem;
    border:2px solid black;
    font-size: large;
    font-family: var(--primary-font);
    
}
button
{
    padding:1rem 2rem;
    border-radius: 10px;
    margin-top:1rem;
    background-color: white;
    color: black;
    font-family: var(--primary-font);
    font-weight: bold;
}

.outputdiv
{
    max-width:65%;
    min-height:25vh;
    border:2px solid black;
    margin-top:1rem;
    background-color: white;
    font-family: var(--secondary-font);
    color:black;
    font-weight: bold;
    width:65%;
    padding:1rem;
    font-size:1.5rem;
}

.footer
{
    background-color: white;
    border-bottom-right-radius: 20px;
    padding:1rem;
    margin-top:2rem;
    text-align:center;
    font-family: var(--primary-font);
    color:black;
    font-weight: bolder;
}
.footer img
{
    max-width: 200px;
}